* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.mentor {
  height: 170%;
  width: 100%;
  background-color: #d6e6f2;
  /* background:url(images/back11.png); */
}
.teams {
  height: 230%;
  width: 100%;
  background-color: #d6e6f2;

  /* background: url(images/pureparidhan.jpg); */
}
.header {
  font-size: 40px;
  text-align: center;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  display: flex;
  justify-content: space-between;
}
.second {
  display: flex;
  justify-content: space-between;
}
.image-wrapper {
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 6px 0px 64px -12px rgba(0, 0, 0, 0.59);
  overflow: hidden;
}
.image-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 180%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: skew(45deg);
  transition: 0.5s;
}
.image-wrapper:hover::before {
  left: -180%;
}
.image-wrapper img {
  height: 400px;
  width: 300px;

  transition: 2s;
}
.image-wrapper:hover img {
  transform: scale(1.1);
}
.image-wrapper h4 {
  background: #ff4646;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: right;
  transition: 1s;
}
.image-wrapper:hover h4 {
  transform: perspective(400px) rotateY(0deg);
}

.image-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}
.image-wrapper ul li {
  background: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform-origin: left;
  transition: 0.5s;
  transform: perspective(800px) rotateY(90deg);
}
.image-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}
.image-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.4s;
}
.image-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.6s;
}
.image-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.8s;
}
.image-wrapper:hover ul li:nth-child(1) {
  transition-delay: 1s;
}
.image-wrapper ul li {
  color: #111;
}
.image-wrapper ul li:hover {
  color: #ff4646;
  cursor: pointer;
}
.image-wrapper ul li:hover {
  transform: scale(1.4);
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  .image-container {
    margin-right: 20px;
  }
  .first {
    display: block;
    padding-bottom: 30px;
  }
  .second {
    display: block;
  }
  .mentor {
    height: 450%;
  }
  .teams {
    height: 500%;
    transform: translateY();
  }
  .image-container {
    margin-left: 15px;
  }
  .image-container2 {
    padding-bottom: 30px;
    margin-left: 20px;
  }
  .image-container3 {
    padding-bottom: 30px;
    margin-left: 20px;
  }
  .image-container4 {
    margin-left: 20px;
  }
  .image-container5 {
    padding-bottom: 30px;
    margin-left: 20px;
    transform: translateX(0);
  }
  .image-container6 {
    padding-bottom: 30px;
    margin-left: 20px;
    transform: translateX(0px);
  }
  .image-container7 {
    margin-left: 20px;
  }
}
